@{
    ViewData["Title"] = "Información Escuela";
}
<h1>Escuela</h1>
<h3>Nombre: @Model.Nombre</h3>
<p>
    Tipo de escuela: @Model.TipoEscuela
</p>
<address>
    <p>Dirección: @Model.Dirección </p>
    <p>País: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>
<p>
    <strong>Año de fundación: @Model.AñoDeCreación</strong>
</p>

